<h2>New Account Created</h2>
<br/>
<p>
  Hello {{profile.firstName}} {{profile.lastName}}, your new ccount has been created. At this point you only need to set the password you are
  going to be using.
</p>
<p>
  Your account has been created please click here to set your password:
</p>
<p>
  link
</p>
